{% extends 'base.html' %}
{% load static %}

{% block 'header' %}
<link rel="stylesheet" type="text/css" href="{% static 'css/template.css' %}">
{% endblock %}
{% block 'title' %}
Note
{% endblock %}
{% block 'content' %}
<div class="form">
  <h1 class="title">Note Form</h1>
  <form action="" method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="field">
          <label for="{{field.id_for_label}}" class="label">{{field.html_name}}:</label>
          <div>{{field}}</div>
        </div>
    {% endfor %}
    <div class="flex-end">
      <input class="button" type="submit" value="Submit">
    </div>
  </form>
</div>
{% endblock %}
