{% extends 'base.html' %}
{% load static %}

{% block 'header' %}
<link rel="stylesheet" type="text/css" href="{% static 'css/template.css' %}">


{% endblock %}

{% block 'content' %}
  <div class="center">
  <h1 class="title">Notes</h1>
  {% if notes %}
  <div class="table">
      <table>
        <tr>
          <th>To</th>
          <th>From</th>
          <th>Title</th>
          <th>Content</th>
        </tr>
        {% for note in notes %}
        <tr class="label">
          <td>
            {{note.To}}
          </td>
          <td class="label">
            {{note.From}}
          </td>
          <td class="label">
            {{note.Title}}
          </td>
          <td class="message">
            <p>{{note.Message}}</p>
          </td>
        {% endfor %}
      </table>
  </div>
  {% endif %}
  </div>
{% endblock %}

