{% extends 'base.html' %}
{% load static %}
{% block 'header' %}
<link rel="stylesheet" type="text/css" href="{% static 'css/template.css' %}">
{% endblock %}

{% block 'title' %}
Note Cards
{% endblock %}

{% block 'content' %}
<h1 class="title">Notes</h1>
{% if notes %}
	<div class="center">
		<div class="flex-container">
			{% for note in notes %}
				<div>
					<span class="text">
						<b>To: </b> {{note.to}}<br>
						<b>From: </b> {{note.From}}<br><br>
						<b>{{note.Title}}</b><br>
						<article>{{note.Message}} </article>
					</span>
				</div>
			{% endfor %}
		</div>
	</div>
{% endif %}
{% endblock %}