<html lang="en">
<head>
	<meta charset="UTF-8">
	<script src="jquery-3.5.1.min.js"></script>
	<title>Notes</title>
</head>
<body>
	<h1>Notes</h1>
	{% if notes %}
	<table>
		<tr>
			<th>To</th>
			<th>From</th>
			<th>Title</th>
			<th>Content</th>
			<th>Actions</th>
		</tr>
		{% for note in notes %}
			<tr>
				<td>{{note.To}}</td>
				<td>{{note.From}}</td>
				<td>{{note.Title}}</td>
				<td>{{note.Message}}</td>
				<td>
					<a href="">View</a>
					<a href="">Edit</a>
					<a href="">Delete</a>
				</td>
			</tr>
		{% endfor %}
	</table>
	{% endif %}
	
</body>
</html>