<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table>
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      <!-- TODO loop from Friend model -->
      {% if friends %}
        {% for fren in friends%}
        <tr>
          <td>{{fren.name}}</td>
          <td>{{fren.npm}}</td>
          <td>{{fren.dob}}</td>
        </tr>
        {% endfor %}
      {% else %}
        <h4>No Fren :(</h4>
      {% endif %}
    </table>
  </body>
</html>
