<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend</title>
  </head>
  <body>
    <h1>Friend Form</h1>
    <form method="POST" action="">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="submit">
    </form>
  </body>
</html>
