<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notes</title>
  </head>
  <body>
    <h1>Notes</h1>
    <hr>
    {% if notes %}
      {% for note in notes%}
        <article><b>To: </b>{{note.To}}</article>
        <article><b>From: </b>{{note.From}}</article>
        <br>
        <article><b>{{note.Title}}</b></article>
        <article>{{note.Message}}</article>
        <br>
        <hr>
      {% endfor %}
    {% endif %}
  </body>
</html>
