
/* https://www.color-hex.com/color-palette/30023 */

body {
    background-color: #ece0d1;
    padding: 1rem;
}

.center {
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
}

.title{
    margin-top: 1rem;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: #38220f;
}

.label{
    font-family: 'Andada Pro', serif;
    font-size: large;
    color: #38220f;
}

input[type=text], textarea {
    font-family: 'Andada Pro', serif;
    font-size: large;
    color: #38220f;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #dbc1ac;
    border-radius: 4px;
    box-sizing: border-box;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
}

.button{
    background-color: #967259;
    border-style: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    transition: all .2s;
}

.button:hover{
    background-color: #634832;
}

table {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

td, th {
    border: 1px solid black;
    text-align: center;
    padding: 2px;
    width: fit-content;
}

.message{
    height: 8rem;
    text-align: justify;
    padding: 8px;
}
.form {
    width: 25rem;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    border-style: solid;
    border-color: #967259;
    margin-top: 2rem;
}

.center {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.title{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: #38220f;
}

.label{
    font-family: 'Andada Pro', serif;
    color: #38220f;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-container > div {
    padding: 16px;
    margin: 6px;
    background-color: #dbc1ac;
    width: 18rem;
    height: auto;
    border-style: solid;
    border-color: #dbc1ac;

    transition: all .2s;
}

.flex-container > div:hover{
    transform: scale(1.05);
    border-color: #38220f;
}

article{
    text-align: justify;
}
